@font-face {
    font-family: 'BWIcons';
    src: url('../../assets/fonts/bw-icons.woff') format('woff'),
         url('../../assets/fonts/bw-icons.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}