// fonts
// $captionFont: "Roboto Condensed", sans-serif;
$captionFont: "Intro", sans-serif;
$mainFont: "Roboto Slab", serif;

// colors
$darkGrey: #121212;
$justGrey: #252525;
$darkSand: #c9aa71;
$justSand: #f2dcba;
$darkBlue: #152026;