.button {
    // positioning
    position: relative;
    // z-index: 0;

    // box model
    display: inline-block;
    height: 48px;
    padding: 0 30px;
    padding-top: 15px;

    // typography
    color: $darkestSand;
    font-family: $captionFont;
    font-size: 1.125rem;
    text-decoration: none;

    // visual
    background-color: $justSand;
    border-radius: 24px;
    box-shadow: 2px 2px 5px 0 rgba($darkestSand, 0.45),
         inset 0 0 1px 0 rgba($darkSand, 0.44);

    cursor: pointer;
    transition: all 0.25s ease-out;

    &:hover {
        // typography
        color: #ffffff;
        
        // visual
        background-color: $darkSand;
        box-shadow: 2px 4px 14px 0 rgba($darkestSand, 0.45),
         inset 0 0 1px 0 rgba($darkSand, 0.44);
        border-radius: 2px;

        &::before {
            // positioning
            left: -8px;
            top: -7px;

            // box model
            height: 64px;
            width: calc(100% + 16px);

            // visual
            border: 1px solid $darkSand;
            border-radius: 32px;
        }
    }

    &--right-m {
        // box model
        margin-right: 40px;
        margin-left:110px;


    }

    &--red {
        // positioning
        position: relative;
  
        // typography
        color: #ffffff;
        
       	 //hidden element
        	display:none;

        // visual
        background-color: $accentRed;
        // background-color: #ff6f5f;
        box-shadow: 2px 2px 5px 0 rgba(#350100, 0.45),
            inset 0 0 32px 0 rgba(#350100, 0.1);

        &:hover {
            // box model
            // height: 60px;
            // margin-top: -6px;
            	//hidden element
            	display:none;

            // visual
            background-color: #860d00;
            background-color: #590900;
            box-shadow: 2px 4px 14px 0 rgba(#350100, 0.45),
                 inset 0 0 32px 0 rgba(#350100, 0.1);
        }
    }
}

button.button {
    // box model
    padding-top: 0;
    margin-top: 20px;

    // visual
    border: none;
}