.button {
    // positioning
    position: relative;
    z-index: 0;

    // box model
    display: inline-block;
    height: 48px;
    padding: 0 30px;
    padding-top: 14px;

    // typography
    color: $darkBlue;
    font-family: $captionFont;
    font-size: 1.125rem;
    text-decoration: none;

    // visual
    background-color: #a86633;
    background-image: linear-gradient(to right, #e9a86d 0%, #f7e3cb 22%, #a86633 50%, #ffd897 100%);
    border-radius: 24px;
    box-shadow: 0 1px 3px 0 rgba(24, 15, 8, 0.5);
    cursor: pointer;
    transition: all 0.25s ease-out;

    &::before {
        content: "";

        // positioning
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: -1;

        // box model
        height: 44px;
        width: calc(100% - 4px);

        // visual
        background-color: #f6dfb2;
        border-radius: 22px;
        box-shadow: inset 0 0 35px 0 rgba(24, 15, 8, 0.5);
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        top: 3px;
        left: 12px;
        z-index: 1;

        // box model
        height: 15px;
        width: calc(100% - 26px);

        // visual
        // background-color: #ffffff;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.1));
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        // border-radius: 5px;
    }

    &:hover {
        // typography
        color: #fffb1d; 
        text-shadow: 0 0 30px #fd7c1d, 0 0 20px #fd7c1d, 0 0 10px #fd7c1d;

        // visual
        box-shadow: 0 5px 11px 1px rgba(24, 15, 8, 0.3);

        &::before {
            // visual
            box-shadow: inset 0 0 35px 0 rgba(24, 15, 8, 0.65);
        }
        
        &::after {
            // visual
            // background-image: none;
        }
    }

    &--right-m {
        // box model
        margin-right: 40px;
    }
}