.footer-nav {
    // positioning
    position: absolute;
    bottom: -38px;
    left: 0;

    // box model
    width: 100%;

    // visual
    background-color: $darkGrey;
    border-top: 3px double $darkSand;

    @include atDesktop {
        // positioning
        bottom: -48px;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // visual
        list-style: none;

        // typography
        text-align: center;
    }

    li {
        // box model
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    a {
        // box model
        display: block;
        padding: 10px 5px;
        // padding-right:1px; 
        // padding-left:1px;
        // padding-top: 11px;
        // padding-bottom: 9px;
    

        // typography
        color: $darkSand;
        font-family: $captionFont;
        font-size: 0.875rem;
        text-decoration: none;

        &:hover {
            color: $justSand;
        }

        @include atDesktop {
            // box model
            display: block;
            padding: 15px 30px;
            padding-top: 16px;
            padding-bottom: 14px;

            // typography
            font-size: 1rem;
        }
    }
}