.hero {
    // positioning
    position: relative;

    // box model
    height: 46.7vw;
    width: 100%;
    margin-top: 50px;

    // typography
    font-size: 0;

    // visual
    background-color: #2e2030;
    overflow: hidden;

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: -1px;
        // z-index: 5;

        // box model
        height: 100%;
        width: 100%;

        // visual
        background-image: url('../../assets/img/hero-sands.svg');
        background-size: 102%;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    &__text-content {
        position: absolute;
        // z-index: 999;
        // top: 0;
        right: 65px;
        bottom: 110px;
        // bottom: 14em;    
        // bottom: 0;

        // typography
        text-align: right;
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 0.3em;

        // typography
        color: #ffffff;
        // color: $justSand;
        font-family: $captionFont;
        font-size: 3rem;
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0;

        // typography
        color: #ffffff;
        // color: $justSand;
        font-family: $mainFont;
        font-size: 1.5rem;
        font-weight: 300;
    }
}