.hero {
    // positioning
    position: relative;

    // box model
    height: 46.7vw;
    // height: 800px;
    width: 100%;
    margin-top: 48px;

    // typography
    font-size: 0;

    // visual
    background-color: #2e2030;
    overflow: hidden;
    // box-shadow: 0 0 17px 3px #212121;

    &::after {
        content: "";
        // positioning
        position: absolute;
        bottom: 1px;
        // top: 200px;
        left: 0;
        z-index: 9;

        // box model
        height: 60px;
        width: 100%;

        // visual
        opacity: 0.8;
        background-color: #212121;
        border-top: 3px double rgba($darkSand, 0.7);
        border-bottom: 3px double rgba($darkSand, 0.7);
    }

    &--about {
        // box model
        // height: 500px;

        .hero__text-content {
            // positioning
            right: 200px;
            // top: 100px;
            bottom: 150px;

            // typography
            text-align: left;
        }
    }

    &__text-content {
        position: absolute;
        right: 65px;
        bottom: 130px;

        // visual
        background-color: $darkGrey;
        background-color: rgba($darkGrey, 0.7);
        border: 1px solid #373025;
        border: 3px double rgba($darkSand, 0.2);
        border: 3px double $darkestSand;
        border: 3px double rgba($darkSand, 0.5);
        padding: 40px;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);

            // box model
            height: 24px;
            width: 600px;

            // visual
            background-image: url("../../assets/img/hero-deco-up.png");
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);

            // box model
            height: 24px;
            width: 600px;

            // visual
            background-image: url("../../assets/img/hero-deco-down.png");
        }
    }

    &__title {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 0.3em;

        // typography
        color: #ffffff;
        color: $justSand;
        -webkit-text-fill-color: transparent;
        // color: $darkSand;
        font-family: $captionFont;
        font-size: 3rem;
        flex-wrap: 100;
        text-align: center;

        // visual
        background-image: -webkit-linear-gradient($justSand, #5d4f34);
        -webkit-background-clip: text;

        // &::before {
        //     content: "О «Barber WILD»";

        //     // positioning
        //     position: absolute;
        //     // top: 10px;
        //     // left: 10px;
        //     z-index: -3;
            
        //     // typography

        //     // visual
        //     border: 1px solid red;
        //     text-shadow: 0 0 2px #ffffff;
        // }
    }

    &__motto {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 0.75em;

        // typography
        color: $justSand;
        // color: $darkSand;
        font-family: $captionFont;
        font-size: 2rem;
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0;

        // typography
        color: #ffffff;
        color: $justSand;
        // color: $darkSand;
        // color: #8c7b5e;
        font-family: $mainFont;
        font-size: 1.25rem;
        font-weight: 300;
        text-align: center;
    }

    &__text {
        // box model
        width: 700px;

        // typography
        color: $justSand;
        // color: $darkSand;
        // color: #ffffff;
        font-family: $mainFont;
        font-size: 1.125rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.4;
        text-indent: 2em;
    }
}