.main-nav {
    // positioning
    position: relative;

    // box model
    display: none;
    padding-left: 360px;
    // border: 1px solid red;

    // typography
    font-size: 0;

    @include atDesktop {
        // box model
        display: block;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // visual
        list-style: none;
    }

    li {
        // box model
        display: inline-block;
        margin: 0;
        padding: 0;

        // visual
    }

    a {
        // positioning
        position: relative;

        // box model
        display: block;
        padding: 15px 30px;
        padding-top: 21px;
        padding-bottom: 19px;

        // typography
        color: $darkSand;
        font-family: $captionFont;
        font-size: 1rem;
        // font-family: $mainFont;
        // font-size: 0.875rem;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;

        // visual
        // border: 1px solid red;
        transition: all 0.25s ease-out;

        &::before {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: 0;
            // top: 0;

            // box model
            height: 20px;
            width: 100%;

            // visual
            // border: 1px solid red;
            background-image: radial-gradient(at bottom, rgba($justSand, 0.15) 0%, rgba($justSand, 0) 50%, transparent 100%);
            opacity: 0;
            transition: all 0.25s ease-out;
        }

        &:hover {
            // typography
            color: $justSand;

            &::before {   
                // visual
                opacity: 1;
            }
        }

        &.current {
            // typography
            color: $justSand;
            
            // visual
            cursor: default;

            &::before {
                content: "";

                // positioning
                position: absolute;
                top: 1px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;

                // box model
                height: 24px;
                width: 600px;

                // visual
                background-image: url("../../assets/img/menu-deco-up.png");
                opacity: 1;
                pointer-events: none;
            }

            &::after {
                content: "";

                // positioning
                position:absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                

                // box model
                height: 24px;
                width: 600px;

                // visual
                background-image: url("../../assets/img/menu-deco-down.png");
                pointer-events: none;
            }
        }
    }
}