.partners {
    // typography
    text-align: center;

    &__item {
        // box model
        display: inline-block;
        vertical-align: middle ;
        margin: 0 20px;
        margin-bottom: 20px;
        width: 265px;

        // visual
        opacity: 0.9;
        transition: opacity 0.3s ease-out;

        &:hover {
            // visual
            opacity: 0.7;
        }

        @include atDesktop {

        }
    }

    img {
        // box model
        width: 100%;
    }
}