.scene {
    // positioning
    position: relative;

    // box model
    height: 49.7vw;
    width: 100%;

    // visual
    // opacity: 0.3;
    background-image: url('../../assets/img/background.jpg');
    background-position: center center;
    background-size: cover;
    // background-attachment: fixed;

    &--about {
        // box model
        // height: 500px;

        // visual
        background-image: url('../../assets/img/about-bg.jpg');
        // background-position: center top;
        // background-position: center -50px;
        background-position: left top;
        background-size: 100%;
    }

    &--partners {
        // box model
        // height: 500px;

        // visual
        background-image: url('../../assets/img/partners-bg.jpg');
    }
}