.shop-item-s {
    // positioning
    position: relative;

    // box model
    width: 330px;
    margin-bottom: 40px;

    @include atDesktop {
        // box model
        height: 460px;
        margin-bottom: 60px;
    }

    &__wrap {
        // positioning
        position: relative;

        // box model
        width: 330px;
        padding-bottom: 20px;

        // visual
        background-color: #ffffff;
        border: 1px solid $justSand;
        overflow: hidden;
        transition: all 0.3s ease-out;

        @include atDesktop {
            // positioning
            position: absolute;
            top: 0;
            left: 0;

            // box model
            height: 460px;
            padding-bottom: 0;
            padding-top: 330px;
        }
    }

    &__image {
        // typography
        text-align: center;

        // visual
        transition: all 0.3s ease-out;

        img {
            // box model
            width: 100%;

            // visual
            transition: all 0.3s ease-out;

            @include atDesktop {
                // box model
                display: inline-block;
                height: 400px;
                width: 400px;
            }
        }

        @include atDesktop {
            // positioning
            position: absolute;
            top: 0;
            left: -35px;

            // box model
            width: 400px;
            height: 400px;
        }
    }

    &__description {
        // positioning
        position: relative;

        // box model
        padding: 0 30px;

        @include atDesktop {
            // box model
            height: 150px;
        }
    }

    &__title {
        // box model
        margin: 0;

        // typography
        color: $darkBlue;
        font-family: $mainFont;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.4;

        // visual
        pointer-events: none;
    }

    &__volume {
        // typography
        color: $darkBlue;
        font-family: $mainFont;
        font-size: 1.125rem;
        font-weight: 300;

        // visual
        pointer-events: none;
    }

    &__buttons {
        // box model
        padding-top: 20px;
        transition: all 0.4s linear 0.1s;

        // typography
        text-align: center;


        @include atDesktop {
            // positioning
            position: relative;
            top: 120px;

            // box model
            width: 400px;


            // visual
            opacity: 0;
        }
    }

    @include atDesktop {
        &:hover {
            .shop-item-s__wrap {
                // positioning
                z-index: 5;
                top: -40px;
                left: -50px;

                // box model
                height: 550px;
                width: 460px;
            }

            .shop-item-s__image {
                // positioning
                top: -20px;

                // box model
                width: 530px;

                img {
                    // box model
                    height: 460px;
                    width: 460px;
                }
            }

            .shop-item-s__description {
                // box model
                height: 200px;
            }

            .shop-item-s__buttons {
                // positioning
                top: 0;

                // visual
                opacity: 1;
            }

            // visual
            box-shadow: 0 0 14px 0 rgba($darkestSand, 0.54);
        }
    }

}