.shop-item {
    // positioning
    position: relative;

    // box model
    margin: 0 auto;
    padding-bottom: 200px;
    width: 600px;

    // typography
    color: $darkBlue;
    font-family: $mainFont;
    // border: 1px solid red;

    // @include clearfix;

    // visual
    // background-color: $justSand;

    &--alt {
        .shop-item__image {
            // box model
            float: right;
        }

        .shop-item__description {
            // box model
            // float:left;
            // padding-right: 0px;
            // padding-left: 0;
        }
    }

    &__image {
        // positioning
        position: absolute;
        z-index: -1;

        // box model
        height: 600px;
        width: 600px;

        // visual
        background-repeat: no-repeat;

        .shop-item--clay & {
            content: "";
            
            // positioning
            position: absolute;
            top: -70px;
            left: -480px;

            // visual
            background-image: url('../../assets/img/b1_clay_j.jpg');
        }

        .shop-item--oil & {
            content: "";

            // positioning
            position: absolute;
            top: -50px;
            right: -400px;
            z-index: -2;

            // visual
            background-image: url('../../assets/img/b2_oil_j.jpg');
        }

        .shop-item--pomade & {
            content: "";

            // positioning
            position: absolute;
            top: -50px;
            left: -500px;

            // visual
            background-image: url('../../assets/img/b3_pomade_j.jpg');
        }

        .shop-item--soap & {
            content: "";

            // positioning
            position: absolute;
            top: -70px;
            right: -460px;

            // visual
            background-image: url('../../assets/img/b4_soap_j.jpg');
        }
    }


    &__deco {
        // positioning
        position: relative;

        // visual
        background-repeat: no-repeat;

        .shop-item--clay & {
            content: "";
            
            // positioning
            position: absolute;
            top: 80px;
            right: -400px;
            z-index: -1;

            // box model
            height: 675px;
            width: 885px;

            // visual
            background-image: url('../../assets/img/clay-right.jpg');
        }

        .shop-item--oil & {
            content: "";

            // positioning
            position: absolute;
            top: -150px;
            left: -520px;
            z-index: -1;

            // box model
            height: 795px;
            width: 671px;

            // visual
            background-image: url('../../assets/img/oil-left.jpg');
        }

        .shop-item--pomade & {
            content: "";

            // positioning
            position: absolute;
            top: -20px;
            right: -460px;
            z-index: -1;

            // box model
            height: 680px;
            width: 701px;
            // border: 1px solid red;

            // visual
            background-image: url('../../assets/img/pomade-right.jpg');
        }

        .shop-item--soap & {
            content: "";

            // positioning
            position: absolute;
            top: -130px;
            left: -450px;
            z-index: -1;

            // box model
            height: 826px;
            width: 974px;

            // visual
            background-image: url('../../assets/img/soap-left.jpg')
        }
    }

    &__description {
        // box model
        // float: right;
        // width: 65%;
        // width: 600px;
    }

    &__title {
        // box model
        padding-left: 0px;

        // typography
        // color: $darkBlue;
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.4;
        text-indent: 20px;
    }

    &__text {
        // box model
        padding-left: 25px;

        // typography
        // color: $darkBlue;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.4;
    }

    &__buttons {
        // box model
        padding-left: 25px;
        padding-top: 40px;
    }
}