.wrapper {
    // box model

    @include atDesktop {
        // box model
        width: 1080px;
        margin: 0 auto;
    }

    &--flex {
        // box model
        display: flex;
        // justify-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}