.wrapper {
    // box model
    width: 1080px;
    margin: 0 auto;
    // border: 1px solid red;

    &--flex {
        // box model
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}